#calculator-frame {
	display: flex;
	flex-direction: column;
	border-color: #9E9E9E;
	border-style: dashed;
	border-width: 1px;
	border-radius: 10px;
	padding: 10px;
	width:380px;
	background-image: url("https://cdn.pixabay.com/photo/2016/05/16/20/44/technology-1396677_960_720.jpg");
	background-position: -400px -20px;
	color: #ffffffb5;
}

#brand {
	font-family: "Great Vibes";
	font-style: italic;
	text-align: center;
	width: 200px;
	align-self: center;
}

#displays {
    display: flex;
    justify-content: center;
    align-items: baseline;
    background-color: rgb(175, 196, 201);
    border-radius: 15px;
}

#scientific-notation-display {
    color: rgb(160, 181, 186);
	font-size: 43px;
    font-family:"Open Sans Condensed";
}

#scientific-power {
	font-size:xx-small;
}

#buttons-grid {
	padding-top: 30px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 55px);
    grid-auto-rows: 50px;
    grid-gap: 25px;
}

#buttons-grid>button {
	border-radius: 3px;
	outline: none;
	background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.0)51%, rgba(255,255,255,0.0)),
			linear-gradient(#bfbdbd7d, #ffffff82);
	background-color: #ffffff00;
	color: inherit;
	font-size: xx-large;
}

#plus {
    grid-row: span 2;
}

#zero {
    grid-column: span 2;
}

#equals {
    grid-row: span 2;
}
