#buttons-grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

#displays {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}

#scientific-notation-display {
    color: rgb(160, 181, 186);
	font-size: 43px;
    font-family:"Open Sans Condensed";
}

#plus {
    grid-row: span 2;
}

#zero {
    grid-column: span 2;
}

#equals {
    grid-row: span 2;
}

#displays {
    background-color: rgb(175, 196, 201);
}
